PORT=5001
NODE_ENV=development

# MongoDB connection strings
# Set USE_LOCAL_DB=true to use a local MongoDB instance.
USE_LOCAL_DB=false
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/shazyboo?retryWrites=true&w=majority
MONGO_URI_LOCAL=mongodb://localhost:27017/shazyboo

JWT_SECRET=your_super_secret_jwt_key_here_change_this_in_production
JWT_EXPIRE=7d

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=bekjihrusxginntx
FROM_EMAIL=your-email@gmail.com
FROM_NAME=ShazyBoo

OTP_EXPIRE_MINUTES=10

APP_URL=http://localhost:5001
CLIENT_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
